@import 'https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto';

.Image {
    width: 25%;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.Profile-Personal-Information {
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    vertical-align: top;
    width: 73%;
}

.personal-information-container {
    border: 1px solid #007EFF;
    background-color: #F4F5F7;
    border-radius: 20px;
    width: 96%;
    margin-left: 1%;
    margin-top: 1%;
    padding: 1%;
}

.Profile-Professional-Information {
    padding-right: 1%;
    padding-left: 1%;
    vertical-align: top;
}

.information-line {
    font-size: 30px;
    margin-bottom: 1px;
}

.profile-info {
    font-size: 20px;
    margin-bottom: 1px;
    display: inline;
}

.Profile-Headers {
    width: 90%;
    display: inline-block;
    font-size: 36px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #007EFF;
}

.Request-Access {
    width: 20%;
    font-size: 20px;
    text-align: center;
    border: 1px solid #007EFF;
    background-color: #BFBFBF;
    border-radius: 20px;
    margin-left: 75%;
    cursor: pointer;
}

.Edit-Button {
    display: inline-block;
    color: #007EFF;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
}

.App-Images {
    width: 10%;
    padding: 1%
}