.Personal-Profile-Window-Container {
    width: 25%;
    position: absolute;
    display: inline-block;
    margin-top: 70px;
    height: calc(100% - 70px);
    left: 0px;
    background-color: #007EFF;
    min-height: 86vh;
}

.HR-Options-Button {
    position: absolute;
    height: 20px;
    width: 75%;
    left: 10%;
    padding: 5px;
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #007EFF;
    bottom: 5px;
    cursor: pointer;
}

.Profile-Edit-Button {
    position: absolute;
    bottom: 40px;
    left: 10%;
    height: 20px;
    text-align: center;
    width: 75%;
    padding: 5px;
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #007EFF;
    cursor: pointer;
}